/practice_1.1/node_modules
/practice_1.2/vite/node_modules
/practice_1.2/webpack/node_modules
/practice_1.2/remix/node_modules
/practice_1.2/next/node_modules
/practice_1.2/next/.next
/practice_2.1/node_modules
/practice_2.1/__MACOSX