.card {
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    padding: 1.5rem;
    max-width: 100vw;
    box-shadow: 0 2px 8px rgba(38, 14, 59, 0.1);
    margin: 2rem;
    background-color: rgb(38, 14, 59);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    color: rgb(243, 231, 253);
  }
  
  .content {
    color: rgb(243, 231, 253);
    margin-bottom: 1rem;
    line-height: 1.5;
  }